<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.giftgenerator"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-permission android:name="android.permission.INTERNET" >
    </uses-permission>

    <uses-sdk
        android:minSdkVersion="9"
        android:targetSdkVersion="18" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="com.example.giftgenerator.Splash"
            android:label="@string/app_name"
            android:noHistory="true"
            android:theme="@style/Theme.MyAppTheme" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.example.giftgenerator.MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="com.example.giftgenerator.MAINACTIVITY" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.example.giftgenerator.DisplayProduct"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name="com.example.giftgenerator.SearchResults"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name="com.example.giftgenerator.Preferences"
            android:label="@string/app_name" >
        </activity>

        <receiver
            android:name="com.example.giftgenerator.MyWidgetProvider"
            android:icon="@drawable/ic_launcher"
            android:label="Gift Generator Widget" >
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/widget_info" />
        </receiver>

        <activity
            android:name="com.example.giftgenerator.WidgetConfig"
            android:label="@string/title_activity_my_widget_provider" >
        </activity>

        <!-- <activity android:name=".CollectionDemoActivity" android:label="demo_collection" /> -->
     </application>

 </manifest>
